{% extends "NetUniversityPlatformBundle::layout.html.twig" %}   
{% block contenu %}
           <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="{{ Utilisateur.urlIMAGE }}" alt="User profile picture">

              <h3 class="profile-username text-center">{{ Utilisateur.prenom }} {{ Utilisateur.nom }}</h3>

              <p class="text-muted text-center">
               {% if Utilisateur.roles[0] == "ROLE_ETUDIANT" %}  

               {% elseif Utilisateur.roles[0] == "ROLE_PROF" %}
               PROF
               {% elseif Utilisateur.roles[0] == "ROLE_CHEF_FILIERE" %}
               CHEFE FILIERE
               {% elseif Utilisateur.roles[0] == "ROLE_CHEF_DEPPARTEMENT" %}
               CHEFE DEPPARTEMENT
               {% elseif Utilisateur.roles[0] == "ROLE_DIRECTEUR" %}
               DIRECTEUR
               {% elseif Utilisateur.roles[0] == "ROLE_DOYEN" %}
               DOYEN
               {% elseif Utilisateur.roles[0] == "ROLE_ADMIN" %}
               ADMIN
               {% elseif Utilisateur.roles[0] == "ROLE_SUPER_ADMIN" %}
               SUPER ADMIN

               {% endif %}

               </p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Followers</b> <a class="pull-right">1,322</a>
                </li>
                <li class="list-group-item">
                  <b>Following</b> <a class="pull-right">543</a>
                </li>
                <li class="list-group-item">
                  <b>Friends</b> <a class="pull-right">{% set c= Utilisateur.Contact[0].count + Utilisateur.Contact[1].count %} {{ c }}</a>
                </li>
              </ul>
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <a href="#" class="btn btn-primary btn-block" style=" width: 50%; float: left;"><b>Follow</b></a>
              {# <a class="btn btn-social-icon" id="Utilisateur_{{ Utilisateur.id }}"  style="background-color: #ffffff;margin-left: 2%;"><i class="fa fa-user-plus"></i></a> #}
              <input type="checkbox" id="Validateur_{{ Utilisateur.id }}" class="js-switch" {{ contact != null ? 'checked' : '' }} onclick="ContactChange({{ Utilisateur.id }}, '{{ path('ChangeContact', {id: Utilisateur.id}) }}')"/> <p>Contact</p>
            {% endif %}
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

              <p class="text-muted">
                Classe: 
            {% if app.user.Classe != null %}           
            <a href="{{path('ViewClasse', {'ClasseId': app.user.Classe.id })}}">{{ app.user.Classe.nom }}</a>
            {% endif %} 
            <br>
            Filière : 
            {% if app.user.Filiere != null %}            
            <a href="{{path('ViewFiliere', {'FiliereId': app.user.Filiere.id })}}">{{ app.user.Filiere.nom }}</a>
             {% endif %}
            <br>
            Deppartement : 
            {% if app.user.Deppartement != null %}           
            <a href="{{path('ViewDepartement', {'DepartementId': app.user.Deppartement.id })}}">{{ app.user.Deppartement.nom }}</a>
            {% endif %}
            <br>
            Institut : 
            {% if app.user.Institut != null %}
            <a href="{{path('ViewInstitut', {'InstitutId': app.user.Institut.id })}}">{{ app.user.Institut.nom }}</a>
             {% endif %}
            <br>
            Université : 
            {% if app.user.University != null %}
            <a href="{{path('ViewUniversity', {'UniversityId': app.user.University.id })}}">{{ app.user.University.name }}</a>
            {% endif %}




            

             </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

              <p class="text-muted">{% if Utilisateur.localisation %}{{ Utilisateur.localisation.nom }} {% endif %}</p>

              <hr>

              <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

              <p>
                <span class="label label-danger">UI Design</span>
                <span class="label label-success">Coding</span>
                <span class="label label-info">Javascript</span>
                <span class="label label-warning">PHP</span>
                <span class="label label-primary">Node.js</span>
              </p>

              <hr>

              <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
              <li><a href="#timeline" data-toggle="tab">Timeline</a></li>
              <li><a href="#settings" data-toggle="tab">Settings</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                  <li class="time-label">
                    Page en maintenance
                  </li>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="timeline">
                <!-- The timeline -->
                <ul class="timeline timeline-inverse">
                  <!-- timeline time label -->
                  <li class="time-label">
                    Page en maintenance
                  </li>
                </ul>
              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="settings">
                  <li class="time-label">
                    Page en maintenance
                  </li>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->

  {#    
<!-- Profile -->
     
         <h4 class="w3-center"> Profile</h4>
         <p class="w3-center"><img src="<?php echo htmlspecialchars($donnes['photo_mombre']);?>" class="w3-circle" style="height:130px;width:106px" alt="Avatar"></p>
         <p><center> {{ Utilisateur.prenom }} {{ Utilisateur.nom }} </center></p>
		 
		  <div style="    margin-bottom: 39px;">
		 
			<div style="float:left;"><?php if($donnes['blog']!=''){echo '<a target="_blank" href="'.$donnes['blog'].'">';} ?>
			<img src="<?php if($donnes['blog']!=''){echo 'images/blogon.png';}
							else{echo 'images/blogoff.png';}?>" style="width:20px;" /><?php if($donnes['blog']!=''){echo '</a>';}	?>
			</div>
			<div style="float:left;"><?php if($donnes['linkedin']!=''){echo '<a target="_blank" href="'.$donnes['linkedin'].'">';} ?>
			<img src="<?php if($donnes['linkedin']!=''){echo 'images/inon.png';}
							else{echo 'images/inoff.png';}?>" style="width:25px;" /><?php if($donnes['linkedin']!=''){echo '</a>';}	?>
			</div>
			<div style="float:left;"><?php if($donnes['facebook']!=''){echo '<a target="_blank" href="'.$donnes['facebook'].'">';} ?>
			<img src="<?php if($donnes['facebook']!=''){echo 'images/faceon.png';}
							else{echo 'images/faceoff.png';}?>" style="width:20px;" /><?php if($donnes['facebook']!=''){echo '</a>';}	?>
			</div>
			<div style="float:left;"><?php if($donnes['twitter']!=''){echo '<a target="_blank" href="'.$donnes['twitter'].'">';} ?>
			<img src="<?php if($donnes['twitter']!=''){echo 'images/twiton.png';}
							else{echo 'images/twitoff.png';}?>" style="width:25px;" /><?php if($donnes['twitter']!=''){echo '</a>';}	?>
			</div>
			<div style="float:left;"><?php if($donnes['lien']!=''){echo '<a target="_blank" href="'.$donnes['lien'].'">';} ?>
			<img src="<?php if($donnes['lien']!=''){echo 'images/lienon.png';}
							else{echo 'images/lienoff.png';}?>" style="width:20px;" /><?php if($donnes['lien']!=''){echo '</a>';}	?>
			</div>
			</div>

         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> $donnes['titre'])</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> $donnes['adresse']</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> $donnes['naissance']</p>
		 <p>
</p>

#}

    <script>
        function ContactChange(id, pathUrl){

          vals = $("#Validateur_"+id).is(':checked');
          $.ajax({

            url:pathUrl,
            type: "POST",
            dataType: "json",

            data: {
            "Validateur-id" : id,
            "checkbox-value" :vals,
            },

            async: true,
            success: function (data)
            {
              
            }

          });
        }

    </script>
{% endblock %}