 
      
            {% set x = 0 %}

          {% for Commentaire in listeCommentaire %}
          {% if Commentaire.CommentaireMere is null %}
          <div id="Comment{{ Commentaire.id }}" style="        background: #ecf0f53b;" class="box-footer box-comments">
            <div class="box-comment">
                <!-- User image -->
                <img class="img-circle img-sm" src="{{Commentaire.Utilisateur.urlIMAGE}}" alt="User Image">

                <div class="comment-text">
                      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                      {% if app.user.id == Commentaire.utilisateur.id %}
                      <a title="Supprimer" Style="float: right;" id="Comment{{ Commentaire.id }}" onclick="Supprimercommentaire({{ Commentaire.id }}, '{{ path('RemoveCommentaire') }}')"

                      href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                      {% endif %}
                      {% endif %}
                      <span class="username">
                        {{Commentaire.Utilisateur.Nom}} {{Commentaire.Utilisateur.Prenom}}
                        <span class="text-muted pull-right">{{ Commentaire.DateDuComment|date('F jS \\a\\t g:ia') }}</span>
                      </span><!-- /.username -->
                      {{Commentaire.Comment }}
                      <br>
                          {% for Commentair in Commentaire.CommentaireFils %}

                          <div id="Comment{{ Commentaire.id }}" style="        background: #ecf0f53b;" class="box-footer box-comments">
                            <div class="box-comment">
                                <!-- User image -->
                                <img class="img-circle img-sm" src="{{Commentair.Utilisateur.urlIMAGE}}" alt="User Image">

                                <div class="comment-text">
                                      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                      {% if app.user.id == Commentair.utilisateur.id %}
                                      <a title="Supprimer" Style=" float: right;"  onclick="Supprimercommentaire({{ Commentair.id }}, '{{ path('RemoveCommentaire') }}')"

                      href="#"  class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                                      {% endif %}
                                      {% endif %}
                                      <span class="username">
                                        {{Commentair.Utilisateur.Nom}} {{Commentair.Utilisateur.Prenom}}
                                        <span class="text-muted pull-right">{{ Commentair.DateDuComment|date('F jS \\a\\t g:ia') }}</span>
                                      </span><!-- /.username -->
                                      {{Commentair.Comment }}
                                      <br>
                          
                                    </div>
                                    <!-- /.comment-text -->
                                  </div>
                          </div>
                          {% endfor %}
                {# {% if  %} #}
                {{ render(controller("NetUniversityPlatformBundle:Sujet:addComment", { 'SujetId' : SujetId, 'commentMere': Commentaire.id } )) }}
                {# {% endif %} #}
                    </div>
                    <!-- /.comment-text -->
                  </div>
          </div>
          {% endif %}
          {% endfor %}

