{% extends "NetUniversityPlatformBundle::layout.html.twig" %}   
{% block contenu %}    
  <script>
    
  var x=0;
</script>      

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">

          <!-- Sujet.Utilisateurile Image -->
          <div class="box box-primary">
            <div class="box-body box-Sujet.Utilisateurile">
              <img class="Sujet.Utilisateurile-user-img img-responsive img-circle" src="{{ Sujet.Utilisateur.urlIMAGE }}" alt="User picture">

              <h3 class="Sujet.Utilisateurile-username text-center">{{ Sujet.Utilisateur.Prenom }} {{ Sujet.Utilisateur.Nom }}</h3>

              <p class="text-muted text-center">
              
              {% if Sujet.Utilisateur.roles[0] == "ROLE_ETUDIANT" %}  

               {% elseif Sujet.Utilisateur.roles[0] == "ROLE_Sujet.Utilisateur" %}
               Sujet.Utilisateur
               {% elseif Sujet.Utilisateur.roles[0] == "ROLE_CHEF_FILIERE" %}
               CHEFE FILIERE
               {% elseif Sujet.Utilisateur.roles[0] == "ROLE_CHEF_DEPPARTEMENT" %}
               CHEFE DEPPARTEMENT
               {% elseif Sujet.Utilisateur.roles[0] == "ROLE_DIRECTEUR" %}
               DIRECTEUR
               {% elseif Sujet.Utilisateur.roles[0] == "ROLE_DOYEN" %}
               DOYEN
               {% elseif Sujet.Utilisateur.roles[0] == "ROLE_ADMIN" %}
               ADMIN
               {% elseif Sujet.Utilisateur.roles[0] == "ROLE_SUPER_ADMIN" %}
               SUPER ADMIN

               {% endif %}
              </p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Followers</b> <a class="pull-right">1,322</a>
                </li>
                <li class="list-group-item">
                  <b>Following</b> <a class="pull-right">543</a>
                </li>
                <li class="list-group-item">
                  <b>Friends</b> <a class="pull-right">13,287</a>
                </li>
              </ul>

              <a href="javascript:void(0)" class="btn btn-primary btn-block" onclick="document.getElementById('id11').style.display='block'">
              <b>Envoyer le sujet a des amis(es)</b>
              </a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">À propos du Sujet</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

              <p class="text-muted">
                B.S. in Computer Science from the University of Tennessee at Knoxville
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

              <p class="text-muted">{% if Sujet.Utilisateur.localisation %}{{ Sujet.Utilisateur.localisation.Nom }} {% endif %}</p>

              <hr>

              <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

              <p>
                <span class="label label-danger">UI Design</span>
                <span class="label label-success">Coding</span>
                <span class="label label-info">Javascript</span>
                <span class="label label-warning">PHP</span>
                <span class="label label-primary">Node.js</span>
              </p>

              
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Vus</b> <a class="pull-right">1,322</a>
                </li>
                <li class="list-group-item">
                  <b>Following</b> <a class="pull-right">543</a>
                </li>
                <li class="list-group-item">
                  <b>Friends</b> <a class="pull-right">13,287</a>
                </li>
              </ul>


              <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Sujet</a></li>
              <li><a href="#timeline" data-toggle="tab">Autres support de la classe</a></li>
              <li><a href="#settings" data-toggle="tab">Autres Support du Module</a></li>
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              {% if app.user.id == Sujet.utilisateur.id %}
              <a href="{{ path('RemoveSujet', {'SujetId':Sujet.id}) }}" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
              {% endif %}
              {% endif %}
            </ul>
            <div class="tab-content">
            <div class="tab-pane" id="timeline">
                <!-- The timeline -->
                supportde mm classe1 ... 2
                </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="settings">
                SUpport de mm Module2 ... 3
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane active" id="activity">
                
                      <div class="box box-solid">
                        <div class="box-header with-border">
                          {# titre #}
                        </div>
                        <!-- /.box-header -->
                
                        <div class="box-body">
                          <div class="box-group" id="accordion">
                            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                            <div class="panel box box-primary">
                              <div class="box-header with-border">
                                <h4 class="box-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <h3 class="box-title">{{ Sujet.Nom}}</h3>
                                  </a>
                                </h4>
                              </div>
                              <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="box-body">
                                  {{ Sujet.detail|raw }}
                                </div>
                              </div>
                            </div>
                            </div>
                        </div>
                        <!-- /.box-body -->

                          {% if Sujet.Fichier %}
                            <iframe height="900px" width="100%"  src="{{ Sujet.Fichier }}" ></iframe>
                          {% endif %}
                      <!-- /.box --> 
                      </div>
                   {% if Sujet.Fichier %}
                   
                    <!-- /.col -->
                    <div class="box-footer">
                    <ul class="mailbox-attachments clearfix">
                      <li>
                        <span class="mailbox-attachment-icon"><i class="fa fa-file-pdf-o"></i></span>

                        <div class="mailbox-attachment-info">
                          <a href="{{ Sujet.Fichier }}" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{ Sujet.Nom }}</a>
                              <span class="mailbox-attachment-size">
                                1,245 KB
                                <a href="{{ Sujet.Fichier }}" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                              </span>
                        </div>
                      </li>
                      
                    </ul>
                  </div>
                  {% endif %}
                    <ul class="list-inline">
                    <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>
                    <label>

                    <input type="checkbox" id="likeSujet_{{ Sujet.id }}" class="js-switch" {{ like == 1 ? 'checked' : '' }}  onclick="likeChangeForSujet({{ Sujet.id }}, '{{ path('like_Sujet', {id: Sujet.id}) }}')"/>

                    </label>

                    <li><a href="#"  id="likeSujet_{{ Sujet.id }}" onclick="likeChangeForSujet({{ Sujet.id }}, '{{ path('like_Sujet', {id: Sujet.id}) }}')"
                    class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> <span class="pull-right badge bg-green">{{ Sujet.like.Count }} </span></a>
                    </li>
                    <li class="pull-right">
                      <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments
                        (5)</a></li>
                  </ul>
                  <div style="background: #eeeeee61;" class="box-footer box-comments">

                {{ render(controller("NetUniversityPlatformBundle:Sujet:listeComment", { 'SujetId': Sujet.id })) }}
                
                {{ render(controller("NetUniversityPlatformBundle:Sujet:addComment", { 'SujetId' : Sujet.id, 'commentMere': 0 } )) }}
               
                <!-- /.post -->
              </div>
              <!-- /.tab-pane -->
              

            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>

<div id="id11" style="       z-index: 4;    margin-left: 37%;    position: fixed;    bottom: 7%;    right: 14%;    display: none;"     class="col-md-6">
              <!-- USERS LIST -->
              <div class="box box-danger">
                <div class="box-header with-border">
                  <h3 class="box-title">Latest Members</h3>

                  <div class="box-tools pull-right">
                    <span class="label label-danger">8 New Members</span>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                  <ul class="users-list clearfix">
                  {#
                  {% for Contact in Sujet.Utilisateur.Contacts%}
                    <li>
                      <img src="{{ Contact.urlIMAGE }}" alt="User Image">
                      <a class="users-list-name" href="#">{{ Contact.Nom }} {{ Contact.prenom }}</a>
                      <span class="users-list-date">Today</span>
                      <input style="margin-bottom:5px;" type="checkbox" name="4" value="{{ Contact.id }}"/>
                    </li>
                  {% endfor %}
                  #}
                  </ul>
                  <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                  <a href="javascript:void(0)" class="uppercase">View All Users</a>
                </div>
                <!-- /.box-footer -->
              </div>
              <!--/.box -->
            </div>

    <script>
        function likeChangeForSujet(id, pathUrl){

          vals = $("#likeSujet_"+id).is(':checked');
          $.ajax({

            url:pathUrl,
            type: "POST",
            dataType: "json",

            data: {
            "Sujet-id" : id,
            "checkbox-value" :vals,
            },

            async: true,
            success: function (data)
            {
            }

          });
        }

    function likeChangeFor(id, pathUrl,x){
  var vals = document.getElementById(x).value;


      
      $.ajax({

        url:pathUrl,
        type: "POST",
        dataType: "json",

        data: {
        "CommentMere": x,
        "Sujet-id" : id,
        "checkbox-value" :vals,
        },

        async: true,
        success: function (data)
        {
        }        

      });
    
      document.getElementById(x).innerHTML = document.getElementById('com'+x).value;
      document.getElementById('com'+x).innerHTML = "";
          
    }

    </script>
    <!-- /.content -->
{% endblock %}