{% extends "NetUniversityPlatformBundle::layout.html.twig" %}   
{% block contenu %}
<div style="    width: 48%;    margin-left: 31%;">


  <div class="w3-container w3-blue">
    <h2> Ajouter un Cours </h2>
  </div>
 {{ form_start(form, {'attr': {'class': 'w3-container'}}) }}
    {{ form_errors(form) }}

  <!-- <form class="w3-container"> -->
    
    <p>  
      {{ form_label(form.nom, "Nom", {'label_attr': {'class': ''}}) }}
      {{ form_widget(form.nom, {'attr': {'class': 'w3-input'}}) }}
      {{ form_errors(form.nom) }}
    </p>
    <p>         
    {{ form_label(form.Cours, "Cours", {'label_attr': {'class': ''}}) }}
    {{ form_widget(form.Cours, {'attr': {'id':'compose-textarea'}}) }}
    {{ form_errors(form.Cours) }}
    </p>   
    <div class="form-group">
      <div class="btn btn-default btn-file">
        <i class="fa fa-paperclip"></i> 
        {{ form_label(form.file, "Fichier", {'label_attr': {'class': ''}}) }}
        {{ form_widget(form.file, {'attr': {'class': ''}}) }}
        {{ form_errors(form.file) }}
      </div>
    <p class="help-block">Max. 32MB</p>
    </div>
           
  {{ form_rest(form) }}

 {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.save, {'attr': {'class': 'w3-btn'}}) }}



  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}

 {#  ////////////////////////////////////////. #}

  {# {{ form(form) }} #}
</div>

{% endblock %}