{% extends "NetUniversityPlatformBundle::layout.html.twig" %}   
{% block contenu %}   
      <h2 class="page-header">Social Widgets</h2>

      <div class="row">
            {% if is_granted('ROLE_PROF') %}
              <a href="{{path('addCours')}}" class="btn btn-app">
                <i class="fa fa-fw fa-plus"></i>Ajouter Cours
              </a>
            {% endif %}
              <hr>
            
          {% for Cours in listeCours %}

        <div class="col-md-4" >
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">

              <!-- /.widget-user-image -->
              <a style ="color:#FFF;" href="{{ path('ViewCours', {'CoursId' : Cours.id}) }}"><h3 class="widget-user-username">{{ Cours.nom }}</h3></a>
              <h5 class="widget-user-desc">{{ Cours.utilisateur.nom }} {{ Cours.utilisateur.prenom }}        
              </h5>
              {% if Cours.utilisateur == app.user %}
              <a href="{{ path('SupportPrivilege', {'CoursId': Cours.id}) }}"><i style="float: right; color: aliceblue;" class="fa fa-fw fa-unlock-alt"></i></a>
              {% endif %}
            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                <li><a href="#">Profs <span class="pull-right badge bg-green">1</span></a></li>
                <li><a href="#">Module <span class="pull-right badge bg-green">{{ Cours.Module.Count }}</span></a></li>
                <li><a href="#">Classes <span class="pull-right badge bg-green">{{ Cours.classePartage.Count }}</span></a></li>
                <li><a href="#">Like <span class="pull-right badge bg-green">{{ Cours.like.Count }}</span></a></li>
                <li><a href="#">Étudiants <span class="pull-right badge bg-red">842</span></a></li>
                {# <li><a href="#">Étudiants <span class="pull-right badge bg-red">842</span></a></li>. #}
              </ul>
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
        <!-- /.col -->
      <!-- /.row -->
          {% else %}
            <li>Pas de Departement trouvé.</li>
          {% endfor %}

{% endblock %}