{% extends "NetUniversityPlatformBundle::layout.html.twig" %}   
{% block contenu %}    
        

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="{{ Prof.urlIMAGE }}" alt="User profile picture">

              <h3 class="profile-username text-center">{{ Prof.Prenom }} {{ Prof.Nom }}</h3>

              <p class="text-muted text-center">
              
              {% if Prof.roles[0] == "ROLE_ETUDIANT" %}  

               {% elseif Prof.roles[0] == "ROLE_PROF" %}
               PROF
               {% elseif Prof.roles[0] == "ROLE_CHEF_FILIERE" %}
               CHEFE FILIERE
               {% elseif Prof.roles[0] == "ROLE_CHEF_DEPPARTEMENT" %}
               CHEFE DEPPARTEMENT
               {% elseif Prof.roles[0] == "ROLE_DIRECTEUR" %}
               DIRECTEUR
               {% elseif Prof.roles[0] == "ROLE_DOYEN" %}
               DOYEN
               {% elseif Prof.roles[0] == "ROLE_ADMIN" %}
               ADMIN
               {% elseif Prof.roles[0] == "ROLE_SUPER_ADMIN" %}
               SUPER ADMIN

               {% endif %}
              </p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Followers</b> <a class="pull-right">1,322</a>
                </li>
                <li class="list-group-item">
                  <b>Following</b> <a class="pull-right">543</a>
                </li>
                <li class="list-group-item">
                  <b>Friends</b> <a class="pull-right">13,287</a>
                </li>
              </ul>

              <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">À propos du Cours</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

              <p class="text-muted">
                B.S. in Computer Science from the University of Tennessee at Knoxville
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

              <p class="text-muted">{% if Prof.localisation %}{{ Prof.localisation.Nom }} {% endif %}</p>

              <hr>

              <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

              <p>
                <span class="label label-danger">UI Design</span>
                <span class="label label-success">Coding</span>
                <span class="label label-info">Javascript</span>
                <span class="label label-warning">PHP</span>
                <span class="label label-primary">Node.js</span>
              </p>

              
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Vus</b> <a class="pull-right">1,322</a>
                </li>
                <li class="list-group-item">
                  <b>Following</b> <a class="pull-right">543</a>
                </li>
                <li class="list-group-item">
                  <b>Friends</b> <a class="pull-right">13,287</a>
                </li>
              </ul>


              <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Cours</a></li>
              <li><a href="#timeline" data-toggle="tab">Autres support de la classe</a></li>
              <li><a href="#settings" data-toggle="tab">Autres Support du Module</a></li>
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              {% if app.user.id == Cours.utilisateur.id %}
              <a href="{{ path('RemoveCours', {'CoursId':Cours.id}) }}" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
              {% endif %}
              {% endif %}
            </ul>
            <div class="tab-content">
            <div class="tab-pane" id="timeline">
                <!-- The timeline -->
                supportde mm classe1 ... 2
                </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="settings">
                SUpport de mm Module2 ... 3
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane active" id="activity">
                
                      <div class="box box-solid">
                        <div class="box-header with-border">
                          <h3 class="box-title">{{ Cours.Nom}}</h3>
                        </div>
                        <!-- /.box-header -->
                        {% if Cours.type == "text" %}
                        <div class="box-body">
                          <div class="box-group" id="accordion">
                            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                            <div class="panel box box-primary">
                              <div class="box-header with-border">
                                <h4 class="box-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    CHAP1
                                  </a>
                                </h4>
                              </div>
                              <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="box-body">
                                  {{ Cours.Cours|raw }}
                                </div>
                              </div>
                            </div>
                            <div class="panel box box-danger">
                              <div class="box-header with-border">
                                <h4 class="box-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    CHAP2
                                  </a>
                                </h4>
                              </div>
                              <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="box-body">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                  nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                  labore sustainable VHS.
                                </div>
                              </div>
                            </div>
                            <div class="panel box box-success">
                              <div class="box-header with-border">
                                <h4 class="box-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    CHAP3
                                  </a>
                                </h4>
                              </div>
                              <div id="collapseThree" class="panel-collapse collapse">
                                <div class="box-body">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                  nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                  labore sustainable VHS.
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /.box-body -->
                     {% endif %}
                     {% if Cours.type == "Fichier"%}
                          {% if Cours.Fichier %}
                            <iframe height="900px" width="100%"  src="{{ Cours.Fichier }}" ></iframe>
                          {% endif %}
                          
                     {% endif %}
                      <!-- /.box --> 
                      </div>
                   {% if Cours.Fichier %}
                   
                    <!-- /.col -->
                    <div class="box-footer">
                    <ul class="mailbox-attachments clearfix">
                      <li>
                        <span class="mailbox-attachment-icon"><i class="fa fa-file-pdf-o"></i></span>

                        <div class="mailbox-attachment-info">
                          <a href="{{ Cours.Fichier }}" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{ Cours.Nom }}</a>
                              <span class="mailbox-attachment-size">
                                1,245 KB
                                <a href="{{ Cours.Fichier }}" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                              </span>
                        </div>
                      </li>
                      
                    </ul>
                  </div>
                  {% endif %}
                    <ul class="list-inline">
                    <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>
                    <label>

                    <input type="checkbox" id="likeCours_{{ Cours.id }}" class="js-switch" {{ like == 1 ? 'checked' : '' }} onclick="likeChangeForCours({{ Cours.id }}, '{{ path('like_Cours', {id: Cours.id}) }}')"/>

                    </label>

                    <li><a href="#"  id="likeCours_{{ Cours.id }}" onclick="likeChangeForCours({{ Cours.id }}, '{{ path('like_Cours', {id: Cours.id}) }}')"
                    class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> <span class="pull-right badge bg-green">{{ Cours.like.Count }}</span></a>
                    </li>
                    <li class="pull-right">
                      <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments
                        (5)</a></li>
                  </ul>
                  <div class="box-footer box-comments">

                {{ render(controller("NetUniversityPlatformBundle:Commentaire:liste", {'CoursId': Cours.id})) }}
                {# {% if  %} #}
                {{ render(controller("NetUniversityPlatformBundle:Commentaire:add", { 'CoursId' : Cours.id } )) }}
                {# {% endif %} #}
                <!-- /.post -->
              </div>
              <!-- /.tab-pane -->
              

            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <script>
        function likeChangeForCours(id, pathUrl){

          vals = $("#likeCours_"+id).is(':checked');
          $.ajax({

            url:pathUrl,
            type: "POST",
            dataType: "json",

            data: {
            "Cours-id" : id,
            "checkbox-value" :vals,
            },

            async: true,
            success: function (data)
            {
            }

          });
        }

    </script>
    <!-- /.content -->
{% endblock %}