 
      
            {% set x = 0 %}

          {% for Commentaire in listeCommentaire %}

          <div class="box-footer box-comments">
            <div class="box-comment">
                <!-- User image -->
                <img class="img-circle img-sm" src="{{Commentaire.Utilisateur.urlIMAGE}}" alt="User Image">

                <div class="comment-text">
                      <span class="username">
                        {{Commentaire.Utilisateur.Nom}} {{Commentaire.Utilisateur.Prenom}}
                        <span class="text-muted pull-right">{{ Commentaire.DateDuComment|date('F jS \\a\\t g:ia') }}</span>
                      </span><!-- /.username -->
                      {{Commentaire.Comment }}
                      <br>
              <div class="box-footer box-comments">
              <div class="box-comment">
                <!-- User image -->
                <img class="img-circle img-sm" src="../uploads/img/avatar.jpg" alt="User Image">

                <div class="comment-text">
                      <span class="username">
                        Maria Gonzales
                        <span class="text-muted pull-right">8:03 PM Today</span>
                      </span><!-- /.username -->
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </div>
                <!-- /.comment-text -->
              </div>
              <!-- /.box-comment -->
              <div class="box-comment">
                <!-- User image -->
                <img class="img-circle img-sm" src="../uploads/img/avatar.jpg" alt="User Image">

                <div class="comment-text">
                      <span class="username">
                        Luna Stark
                        <span class="text-muted pull-right">8:03 PM Today</span>
                      </span><!-- /.username -->
                      It is a long established fact that a reader will be distracted
                      by the readable content of a page when looking at its layout.
                      <br>
                    </div>
                    <!-- /.comment-text -->
                  </div>
                  <!-- /.box-comment -->
                </div>
                {# {% if  %} #}
                {{ render(controller("NetUniversityPlatformBundle:Commentaire:add", { 'CoursId' : CoursId } )) }}
          {# {% endif %} #}
                    </div>
                    <!-- /.comment-text -->
                  </div>
          </div>
          {% endfor %}

