<form action="{{ path('Recherche')}}" method="get" class="sidebar-form">
  <div class="input-group">
    <input type="text" name="MotCle" class="form-control" placeholder="Search...">
    <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
          </button>
        </span>
  </div>
</form>



{#
 {{ form_start(form, {'attr': {'class': 'w3-container'}}) }}
    {{ form_errors(form) }}

      {{ form_widget(form.nom, {'attr': {'class': 'w3-input'}}) }}
      {{ form_errors(form.nom) }}

  {{ form_rest(form) }}

  {{ form_widget(form.save, {'attr': {'class': 'w3-btn'}}) }}

  {{ form_end(form) }}
#}